{% extends "base_generic.html" %}
{% block title %}
<title>Scout Match | 19-20 FTC Season</title>
{% endblock %}


{% block content %}
<div class="w3-container">
<form style="display=none" action="" method="post">
{% csrf_token %}

<div class="w3-cell-row w3-section w3-card-2 w3-mobile">
<div class="w3-padding-large w3-section w3-cell w3-half w3-mobile">
    <h1>Scout a Match</h1>
    <p>FTC 19-20 SkyStone Season</p>
    <p>Competition: {{ competition }}</p>
</div>
<div class="w3-padding w3-section w3-cell w3-half w3-mobile">
    <div class="w3-container w3-blue">
        <h2><strong>Match Data</strong></h2>
    </div>
    <div class="w3-container">
        <label>Info</label>
        <input class="w3-input" type="text">

        <label>Match Number</label>
        <input class="w3-input" type="number">
    </div>
    </div>
</div>


<div class="w3-cell-row w3-section w3-card-2 w3-mobile">
    <div class="w3-padding w3-section w3-cell w3-half w3-mobile">
    <div class="w3-container w3-blue">
        <h2><strong>Autonomous</strong></h2>
    </div>
    <div class="w3-container">
        <label>Skystones Across</label>
        <input class="w3-input" type="number">

        <label>Stones Across</label>
        <input class="w3-input" type="number">

        <label>First 2 Stones Across</label>
        <input class="w3-input" type="radio">

        <label>Parking</label>
        <input class="w3-input" type="radio">
    </div>
    </div>

    <div class="w3-padding w3-section w3-cell w3-half w3-mobile">
    <div class="w3-container w3-blue">
        <h2><strong>Tele-Op</strong></h2>
    </div>
    <div class="w3-container">
        <label>Stones Across</label>
        <input class="w3-input" type="number">

        <label>Stones Placed</label>
        <input class="w3-input" type="number">

        <label>Tallest Stack</label>
        <input class="w3-input" type="number">
    </div>
    </div>
</div>


<div class="w3-cell-row w3-section w3-card-2 w3-mobile">
    <div class="w3-padding w3-section w3-cell w3-half w3-mobile">
    <div class="w3-container w3-blue">
        <h2><strong>Endgame</strong></h2>
    </div>
    <div class="w3-container">
        <label>Team Marker Height</label>
        <input class="w3-input" type="number">

        <label>Parking</label>
        <input class="w3-input" type="radio">
    </div>
    </div>

    <div class="w3-padding w3-section w3-cell w3-half w3-mobile">
    <div class="w3-container w3-blue">
        <h2><strong>Post Match</strong></h2>
    </div>
    <div class="w3-container">
        <label>Comments</label>
        <input class="w3-input" type="text">

        <label>Did they break for more than 15 seconds?</label>
        <input class="w3-input" type="radio" name="True">
        <input class="w3-input" type="radio" name="False">
    </div>
    </div>
</div>

    <div class="w3-card w3-center">
        <input type="submit" value="Submit" class="w3-button w3-round-xxlarge w3-section w3-white w3-border w3-border-orange w3-center">
    </div>

</form>
</div>

{% endblock %}