<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block title %}
    <title>LR SCOUTING</title>
    {% endblock %}

</head>
<body>

<div class="w3-top">
    <div class="w3-bar w3-orange">
        <button class="w3-button w3-bar-item w3-orange w3-hover-dark-grey" onclick="w3_open()">&#9776;</button>
        <a href=""
           class="w3-bar-item w3-button w3-padding-medium w3-hover-dark-grey">
            <strong>LR SCOUTING</strong>
        </a>
    </div>

    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-button ">Close &times;</button>
        <a href="#" class="w3-bar-item w3-button">Logged in as: <strong>username</strong></a> <!-- Account Page / Settings Page -->
        <a href="#" class="w3-bar-item w3-button">Login</a>
        <a href="#" class="w3-bar-item w3-button">Scout</a>
        <a href="#" class="w3-bar-item w3-button">Data</a>
    </div>
</div>

    <div class="w3-container" style="margin-top: 55px; margin-bottom: 15px;">
    {% block content %}
    {% endblock %}
    </div>

</body>

<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</html>